@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap");

body {
  overflow-x: hidden;
  background-color: black;
  font-family: "Montserrat";
}
